body{
    background-image: url("../images/scubaBackground.jpg");
    background-color: darkslateblue;
    background-repeat: repeat;
    background-size: cover;
    color:white;
    font-weight: 500;
    width:96%;
    margin:auto;
}

h1{
    font-size:10vw; 
}

h2{
    text-align: center;
    width:100%;
}

.inlineDesktop{
    display:inline;
}

#floatRightDesktop{
    float:right;
}